:root {
  --primery-text-color: #212121;
  --title-text-color: #757575;
  --secondary-title-text-color: rgba(255, 255, 255, 0.6);
  --third-title-text-color: #000000;
  --accent-color: #2196f3;
  --primery-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --white-color: #ffffff;
  --footer-color: #2f303a;
}
body {
  background: var(--primery-background-color);
  color: var(--primery-text-color);
  font-family: 'Roboto', sans-serif;
}
/* колір основного тексту #212121*/
/* вторинний колір тексту #757575 */
/* вторинний колір тексту rgba(255, 255, 255, 0.6 */
/* білий колір #FFFFFF */
/* акцент #2196F3 */
/* вторинний колір фону #F5F4FA */
/* вторинний колір фону #2F303A */
/* вторинний колір фону FFFFFF */
/* Логотип */
.header-logo {
  text-decoration: none;
}
.logo-blue {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo-black {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--third-title-text-color);
}
/* Site nav */
ul {
  list-style: none;
}
.site-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
  text-decoration: none;
}
.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}
.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
}
.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

/* Секція 1 */
.hero {
  background-color: var(--footer-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}
.hero-buttom {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  /* 0px 4px 4px rgba(0, 0, 0, 0.15); */
}
/* Секція 2 */
.section {
  background: var(--primery-background-color);
}
.section-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primery-text-color);
}
.text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
/* Секція 3 */
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}
/* Секція 4 */
.workers {
  background: var(--secondary-background-color);
}
.workers-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}
.workers-text {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/* Портфоліо */
/* Фільтр */
.filter {
  background: var(--primery-background-color);
}
.filter-buttom {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
  background: var(--secondary-background-color);
  cursor: pointer;
}
.filter-buttom:hover,
.filter-buttom:focus {
  color: var(--white-color);
  background: var(--accent-color);
}
/* Картинки */
.pictures-list {
  background: var(--primery-background-color);
}
.pictures-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primery-text-color);
}
.pictures-text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
/* Футер */
.footer {
  background: var(--footer-color);
}
.footer-logo {
  text-decoration: none;
}
.logo-blue {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo-white {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.footer-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.contact-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-title-text-color);
  text-decoration: none;
}
